In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv("data/clean_coffee_data.csv")
df

,datetime,cash_type,card,money,coffee_name
0,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,3.87,Latte
1,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,3.87,Hot Chocolate
2,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,3.87,Hot Chocolate
3,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,2.89,Americano
4,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,3.87,Latte
...,...,...,...,...,...
3631,2025-03-23 10:34:54.894,card,ANON-0000-0000-1158,3.58,Cappuccino
3632,2025-03-23 14:43:37.362,card,ANON-0000-0000-1315,3.58,Cocoa
3633,2025-03-23 14:44:16.864,card,ANON-0000-0000-1315,3.58,Cocoa
3634,2025-03-23 15:47:28.723,card,ANON-0000-0000-1316,2.60,Americano
3635,2025-03-23 18:11:38.635,card,ANON-0000-0000-1275,3.58,Latte

In [2]:
df.shape
df.dtypes
#df.describe(include="all")

datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
dtype: object

In [4]:

df['datetime'] = pd.to_datetime(df['datetime'])
df.dtypes

datetime       datetime64[ns]
cash_type              object
card                   object
money                 float64
coffee_name            object
dtype: object

In [6]:
df.coffee_name.unique()
df.card.unique()
df.card.value_counts()

card
ANON-0000-0000-0012    129
ANON-0000-0000-0141    108
ANON-0000-0000-1163     77
ANON-0000-0000-0276     69
ANON-0000-0000-0009     67
                      ...
ANON-0000-0000-0015      1
ANON-0000-0000-0014      1
ANON-0000-0000-0013      1
ANON-0000-0000-0011      1
ANON-0000-0000-0010      1
Name: count, Length: 1316, dtype: int64

In [9]:
df.coffee_name.value_counts(ascending=False)

coffee_name
Americano with Milk    824
Latte                  782
Americano              578
Cappuccino             501
Cortado                292
Hot Chocolate          282
Cocoa                  243
Espresso               134
Name: count, dtype: int64